<?xml version="1.0" encoding="UTF-8"?>
<config>
	<title>Kerameikos.org</title>
	<url>http://localhost:8080/orbeon/kerameikos/</url>
	<solr_published>http://localhost:8080/solr/kerameikos/</solr_published>
	<solr_fuseki>http://localhost:8080/solr/kerameikos-fuseki/</solr_fuseki>
	<id_path>/usr/local/projects/kerameikos-data/id</id_path>
	<ontology_path>/usr/local/projects/ontology/</ontology_path>
	<sparql>
		<query>http://localhost:3030/kerameikos/query</query>
		<update>http://localhost:3030/kerameikos/update</update>
		<store>http://localhost:3030/kerameikos/data</store>
	</sparql>
	<admin_email_from>admin@kerameikos.org</admin_email_from>
	<admin_email_to/>
</config>
