<?xml version="1.0" encoding="UTF-8"?>
<config>
	<url>http://localhost:8080/orbeon/ceramics/</url>
	<sparql>http://localhost:3030/ceramics/query</sparql>
	<solr_published>http://localhost:8080/solr/ceramics/</solr_published>
	<content>
		<index>
			<h1>Kerameikos.org</h1>
			<p>Kerameikos.org is a collaborative project dedicated to defining the intellectual concepts of Greek pottery following the tenets of linked open
				data.</p>
		</index>
	</content>
</config>
