/*
  ****************************************
  GLOBAL
  ****************************************
 */
.container, .container-fluid {
	background-color:white;	
}
/*.yui3-g {
	background-color:white;	
	border-radius: 15px;
	border:1px solid silver;
	margin:20px auto;
	min-width:960px;
	max-width:95%;
}
.content {
	padding:5px;
}*/
h1 {
	margin:0
}
a:link, .ui-widget a:link {
	color: #627eb7;
	text-decoration:none;
}
a:visited, .ui-widget a:visited {
	color: #627eb7;
	text-decoration:none;
}
a:hover {
	color:#8BADCF;
}
dt {
	float: left;
	clear: left;
	width: 140px;
	text-align: right;
	font-weight:bold;
}
dd {
	margin: 0 0 0 150px;
	padding: 0 0 0.5em 0;
}
/*
  ***************************************
  HEADER
  ***************************************
 */
#hd {
	padding:10px 0;
	text-align:right;
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#ft {
	padding:10px 0;
	text-align:center;
	background-color:#ebebeb;
	border-top:1px solid silver;
}
/*
  ***************************************
  PAGINATION/SEARCH RESULTS
  ***************************************
 */
 .result-doc {
 	margin-bottom:20px;
 	padding-bottom:20px;
 	border-bottom: 1px dotted silver;
 }
 .doc-label {
 	font-size:120%;
 }
.paging_div {
	width:100%;
	display:table;
	padding-top:10px;
	padding-bottom:10px;
}
.paging li {
	float: left;
	list-style: none outside none;
	margin: 2px;
	position: relative;
	width:30px;
	text-align:center;
}
.paging {
	padding:0;
	margin:0;	
}
.paging li a {
	width:100%;
}
.filter-form {
	display:inline;
}
/*
  ***************************************
  PAGE DISPLAY
  ***************************************
 */
 .lang {
 	font-style:italic;	
 }
 .desc {
 	font-style:italic;
 	color:gray;
 }
/*
  ***************************************
  MAPS
  ***************************************
 */
#resultMap {
	width:600px;
	height:400px;
}
#clear_all {
	font-size:80%;
	margin-left:25px;
}
.ui-tabs .ui-tabs-hide {
	position: absolute;
	left: -10000px;
}
.olLayerGooglePoweredBy {
	display:none;
}
#backgroundPopup {
	display:none;
	position:fixed;
	_position:absolute;
/* hack for internet explorer 6 */
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:2001;
}
/*
  ***************************************
  Timemap CSS
  ***************************************
 */
div#timelinecontainer {
	width:100%;
	height: 150px;
}
div#mapcontainer {
	width:100%;
	height: 500px;
}
div.olFramedCloudPopupContent {
	width: 300px;
}
div#help {
	font-size: 12px;
	width: 45em;
	padding: 1em;
}
/*
  div#timemap {
  padding: 1em;
  }
 */
div#timeline {
	width: 100%;
	height: 100%;
	font-size: 12px;
	background: #CCCCCC;
}
div#map {
	width: 100%;
	height: 100%;
	background: #EEEEEE;
}
div.infotitle {
	font-size: 14px;
	font-weight: bold;
}
div.infodescription {
	font-size: 14px;
	font-style: italic;
}
div.custominfostyle {
	font-family: Georgia, Garamond, serif;
	font-size: 1.5em;
	font-style: italic;
	width: 20em;
