/*
  ****************************************
  GLOBAL
  ****************************************
 */
body{
    background-color: black;
    font-size: 16px;
}
.navbar{
    margin-bottom: 0;
}
.content{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F8F8F8;
}
.highlight{
    background-color: #efefef;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}
.alert-box{
    width: 50%;
    margin: 20px auto;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid gray;
}
.table-dl td{
    padding: 5px;
}
a,
a:visited{
    color: #c94f2a;
}
a:active,
a:hover{
    color: #e27300
}
.jumbotron{
    margin-bottom: 0;
    color: white;
    background-color: black;
}
.banner{
    border-bottom: 4px solid black;
    color: white;
    background-image: url("../images/banner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 0;
}
.banner-background{
    margin: 40px 0;
    background-color: black;
    border-radius: 20px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner-background img{
    max-height: 150px;

}
.banner-background h1{
    font-size: 72px;
}
.banner-background h1,
.banner-background h2,
.banner-background h3{
    margin-top: 0;
}
.page-section{
    margin-bottom: 40px;
}
.subsection{
    margin-bottom: 20px;
}
/*
  ***************************************
  NAVBAR
  ***************************************
 */
.navbar-custom{
    background-color: #e27300;
    border-color: #c16200;
    border-bottom: 4px solid black;
}
.navbar-custom .navbar-brand{
    color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus{
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-custom .navbar-text{
    color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a{
    border-right: 1px solid #c16200;
}
.navbar-custom .navbar-nav > li > a{
    color: #ffffff;
    border-left: 1px solid #c16200;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus{
    color: #c0c0c0;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus{
    color: #c0c0c0;
    background-color: #c16200;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus{
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle{
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus{
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar{
    background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form{
    border-color: #be6100;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret{
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus{
    background-color: #c16200;
    color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret{
    border-top-color: #c0c0c0;
    border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width : 767){
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a{
        color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus{
        color: #c0c0c0;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus{
        color: #c0c0c0;
        background-color: #c16200;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus{
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-custom .navbar-link{
    color: #ffffff;
}
.navbar-custom .navbar-link:hover{
    color: #c0c0c0;
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#footer{
    height: 60px;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    color: white;
}
/*
  ***************************************
  INDEX
  ***************************************
 */
.media{
    display: inline;
}
.media img{
    height: 50px;
    margin: 5px;
}
/*
  ***************************************
  PAGINATION/SEARCH RESULTS
  ***************************************
 */
.result-doc{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid silver;
}
.doc-label{
    font-size: 120%;
}
.paging_div{
    padding: 10px 0;
    vertical-align: top
}
.page-nos{
    text-align: right;
}
#filter-form .form-control{
    width: 20em;
    display: inline;
}
/*
  ***************************************
  SPARQL
  ***************************************
 */
#sparqlForm{
    margin: 20px 0;
    font-size: 14px;
}
#sparqlForm select{
    width: 20em;
}
.CodeMirror{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.CodeMirror:focus{
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
/*
  ***************************************
  PAGE DISPLAY
  ***************************************
 */
.lang{
    font-style: italic;
}
.toggle-geoJSON{
    margin-left: 10px;
}
.map-normal{
    width: 100%;
    height: 400px;
}
.map-fullscreen{
    width: 100%;
    height: 100%;
}
.ol-attribution{
    max-width: calc(100% - 3em);
}
.ol-control button,
.ol-attribution,
.ol-scale-line-inner{
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}
.thumb{
    max-width: 100%;
    height: 160px;
    margin: 5px 0;
}
#iiif-container{
    background-color: inherit;
}
.iiif-container{
    width: 100%;
    height: 100%;
}
.obj-container{
    z-index: 1;
    /*cursor:pointer;*/
    color: #c94f2a;
}
a.fancybox{
    height: 100%;
    width: 100%;
    display: block;
}
@media (min-width : 992px){
    .obj-container{
        height: 200px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }
    .iiif-zoom-glyph{
        position: absolute;
        right: 0;
        top: 180px;
    }
    .model-button{
        position: absolute;
        right: 20px;
        top: 180px;
        z-index: 1000;
    }
}
@media (max-width : 991px){
    .obj-container{
        height: 400px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
    }
    .iiif-zoom-glyph{
        position: absolute;
        right: 0;
        top: 380px;
    }
    .model-button{
        position: absolute;
        right: 20px;
        top: 380px;
        z-index: 1000;
    }
}
.iiif-window{
    width: 640px;
    height: 480px;
}
/*
  ***************************************
  VISUALIZATION FORM
  ***************************************
*/
#distributionForm input[type = text],
#distributionForm select{
    width: 20em;
}
#distributionForm select.era{
    width: 5em;
    margin-left: 10px;
}
#distributionForm input.year{
    width: 10em;
}
.control-container{
    display: inline;
    width: 20px;
}
.control-row .btn{
    margin: 0 5px;
}
.query-pair{
    display: block;
    margin-bottom: 15px;
}
.prop-container{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.duplicate-date-alert-box,
.empty-query-alert-box{
    width: 50%;
    margin: 20px auto;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid gray;
}